<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AAiT Stack Overflow</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <link href="https://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body>

<nav class="navbar navbar-default navbar-expand-lg navbar-light">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">AAiT<b> Stack Overflow</b></a>
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="navbar-toggler-icon"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/About}">About</a></li>
            <li><a th:href="@{/questions}">Questions</a></li>
        </ul>

        <ul th:if="${author} != null" class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle user-action">
                    <span th:text="${author.firstName} + ' ' + ${author.lastName}"></span> <b class="caret"></b></a>
                <ul class="dropdown-menu">

                    <li th:if="${author} != null" > <a
                            th:href="@{/accountUpdate/{email}(email=${author.email})}"
                    ><i class="fa fa-user-o"></i> Profile</a></li>
                    <li class="divider"></li>

                    <li th:if="${author} != null" > <a
                            th:href="@{/logout}">
                        <i class="material-icons">&#xE8AC;</i>LogOut</a></li>
                    <li class="divider"></li>

                </ul>
            </li>
        </ul>


        <ul th:if="${author} == null"  class="nav navbar-nav navbar-right">
            <li>
                <a class="dropdown-toggle" th:href="@{/login}">Login</a>
            </li>
            <li>
                <a th:href="@{/register}" class="btn btn-primary dropdown-toggle get-started-btn mt-1 mb-1">Sign up</a>
            </li>
        </ul>

    </div>
</nav>
<div class="container">

    <h1>You have successfully updated your answer. </h1>
    <div th:object="${author}">
        <a th:href="@{/questions}"><h3>Go to questions page</h3></a>
    </div>
</div>


<footer  class="position-fixed text-center fixed-bottom text-white bg-light ">

    <div class="container pt-0">
        <section class="mb-0">
            <a class="btn btn-link btn-floating btn-lg text-dark m-1"
               href="http://facebook.com" target="_blank"
               role="button" data-mdb-ripple-color="dark">
                <i class="fa fa-facebook-f"></i></a>

            <a class="btn btn-link btn-floating btn-lg text-dark m-1"
               href="http://twitter.com" target="_blank"
               role="button" data-mdb-ripple-color="dark">
                <i class="fa fa-twitter"></i></a>

            <a class="btn btn-link btn-floating btn-lg text-dark m-1"
               href="http://google.com" target="_blank"
               role="button" data-mdb-ripple-color="dark">
                <i class="fa fa-google"></i></a>

            <a class="btn btn-link btn-floating btn-lg text-dark m-1"
               href="http://instagram.com" target="_blank"
               role="button" data-mdb-ripple-color="dark">
                <i class="fa fa-instagram"></i></a>

            <a class="btn btn-link btn-floating btn-lg text-dark m-1"
               href="http://linkedin.com" target="_blank"
               role="button" data-mdb-ripple-color="dark">
                <i class="fa fa-linkedin"></i></a>

            <a class="btn btn-link btn-floating btn-lg text-dark m-1"
               href="http://github.com" target="_blank"
               role="button" data-mdb-ripple-color="dark">
                <i class="fa fa-github"></i></a>
        </section>
    </div>

    <div class="text-center text-dark p-3 " style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright Reserved
    </div>

</footer>

</body>

</html>